* {
  color: white;
}

input:focus {
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

input {
  padding: 20px 20px;
  width: 400px;
  height: 10px;
  font-weight: bold;
  background-color: #30cfd0;
}

.search-container {
  position: relative;
}

/* .search-container input,
.search-container .suggestions {

}
.search-container input {

}
.search-container .suggestions {

} */

ul {
  position: absolute;
  top: 55px;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #30cfd0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

/* ul.has-suggestions {

} */

ul li {
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #30cfd0;
}
ul li:hover {
  background: #330867;
  cursor: pointer;
}


